[Unit]
Description=BringDesk Service
After=network.target

[Service]
ExecStart=/usr/bin/nodejs /opt/bringdesk/main.js
WorkingDirectory=/opt/bringdesk
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target
